body {
	margin: 0;
}

h1 {
	font-family: 'Handlee', cursive;
	text-align: center;
}

h2 {
		display: none;
	}

.container {
	width: 800px;
	margin: 0 auto;
}

.waffles img {
	width: 300px;
}

.waffles {
	font-family: 'Handlee', cursive;
	text-align: center;
	float: left;
	width: 300px;
}

.pancakes img {
	width: 300px;
}

.pancakes {
	font-family: 'Handlee', cursive;
	text-align: center;
	float: left;
	margin-left: 100px;
}


iframe {
	display: relative;
	margin-top: 50px;
	margin-left: 80px;
	clear: both;
}

@media (max-width: 500px) {
	
	h2 {
		display: none;
	}

	.container {
		width: 300px;
		margin: 0 auto;
		clear: both;
		text-align: center;
	}
	.waffles {
		clear: both;
		margin: 0;
		text-align: center;

	}

	.pancakes {
		margin: 0;
		clear: both;
		text-align: center;
	}

	iframe {
		display: none;
	}

}

@media (min-width: 1000px) {

h2 {
	display: inherit;
	text-align: center;
	font-family: 'Handlee', cursive;
}

}